/** ** ** GLOBAL ** ** **/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    background-color: hsl(222, 26%, 31%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BODY BACKGROUND THEME 2 */

body.theme-two {
    background-color: hsl(0, 0%, 90%);
}

/* BODY BACKGROUND THEME 3 */

body.theme-three {
    background-color: hsl(268, 75%, 9%);
}

/** ** ** MAIN WIDGET ** ** **/

.content {
    min-width: 375px;
    max-width: 1440px;
    width: 420px;
}

/** ** ** HEADER ** ** **/

.content__header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    color: #fff;
}

.content__header__title {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
}

.content__theme {
    text-align: end;
}

.content__theme nav a {
    text-decoration: none;
    color: #fff;
    font-size: .6rem;
    padding: .3rem;
}

/* HEADER COLOR THEME 2 */

body.theme-two .content__header {
    color: #000;
}

body.theme-two .content__theme nav a {
    color: #000;
}

/* HEADER COLOR THEME 3 */

body.theme-three .content__header {
    color: hsl(52, 100%, 62%);
}

body.theme-three .content__theme nav a {
    color: hsl(52, 100%, 62%);
}

/** ** ** SWITCH BUTTON ** ** **/

.switch-container {
    display: flex;
    align-items: center;
}

.switch-container span {
    text-transform: uppercase;
    font-size: .7rem;
    margin-right: 1rem;
}

.switch__button {
    background-color:hsl(223, 31%, 20%);
    width: 3.2rem;
    height: 1.2rem;
    border-radius: 15px;
    position: relative;
}

.switch__button:before {
    transition: .2s;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: .8rem;
    height: .8rem;
    background-color: hsl(6, 70%, 34%);
    content: '';
    border-radius: 50%;
    border: 1px solid #000;
}

/* SWITCH BUTTON THEME 2 */

body.theme-two .switch__button {
    background-color: hsl(0, 5%, 81%);
}

body.theme-two .switch__button:before {
    background-color: hsl(25, 98%, 40%);
    border: 1px solid hsl(25, 99%, 27%);
    left: 17px;
}

/* SWITCH BUTTON THEME 3 */

body.theme-three .switch__button {
    background-color: hsl(268, 71%, 12%);
}

body.theme-three .switch__button:before {
    background-color: hsl(176, 100%, 44%);
    border: 1px solid hsl(177, 92%, 70%);
    left: 35px;
}

/** ** ** CALCULATOR SCREEN ** ** **/

.calculator__screen {
    height: 86px;
    background-color: hsl(224, 36%, 15%);
    color: #fff;
    text-align: right;
    font-size: 2.5rem;
    padding: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}

/* CALCULATOR SCREEN THEME 2 */

body.theme-two .calculator__screen {
    background-color: hsl(0, 0%, 93%);
    color: #000;
}

/* CALCULATOR SCREEN THEME 3 */

body.theme-three .calculator__screen {
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}

/** ** ** CALCULATOR KEYPAD ** ** **/

.calculator__keypad {
    background-color: hsl(223, 31%, 20%);
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

/* CALCULATOR KEYPAD THEME 2 */

body.theme-two .calculator__keypad {
    background-color: hsl(0, 5%, 81%);
}

/* CALCULATOR KEYPAD THEME 3 */

body.theme-three .calculator__keypad {
    background-color: hsl(268, 71%, 12%);
}

/** ** ** CALCULATOR BUTTONS ** ** **/

.calculator__button {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(74,78,94);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px -9px 0px -5px hsl(28, 16%, 65%);
    width: 100%;
    height: 52px;
    transition: all ease-in .2s;
    cursor: pointer;
}

.calculator__button:active {
    box-shadow: none;
}

/* CALCULATOR BUTTONS THEME 2 */

body.theme-two .calculator__button {
    color: #000;
    box-shadow: inset 0px -9px 0px -5px hsl(28, 16%, 65%);
}

/* CALCULATOR BUTTONS THEME 3 */

body.theme-three .calculator__button {
    color: hsl(52, 100%, 62%);
    box-shadow: inset 0px -9px 0px -5px hsl(28, 16%, 65%);
    background-color: hsl(268, 47%, 21%);
    box-shadow: inset 0px -9px 0px -5px hsl(290, 70%, 36%);
}

.span {
    width: 100%;
    grid-column: span 2;
}

.button__total {
    background-color: hsl(6, 63%, 50%);
    box-shadow: inset 0px -9px 0px -5px hsl(6, 70%, 34%);
    color: #fff;
    font-size: 1rem;
}

.button__reset__del {
    background-color: hsl(225, 21%, 49%);
    box-shadow: inset 0px -9px 0px -5px hsl(224, 28%, 35%);
    color: #fff;
    font-size: 1rem;
}

/* BUTTON TOTAL & DELETE THEME 2 */

body.theme-two .button__total {
    background-color: hsl(25, 98%, 40%);
    box-shadow: inset 0px -9px 0px -5px hsl(25, 99%, 27%);
    color: #fff;
}

body.theme-two .button__reset__del {
    background-color: hsl(185, 42%, 37%);
    box-shadow: inset 0px -9px 0px -5px hsl(185, 58%, 25%);
    color: #fff;
}

/* BUTTON TOTAL & DELETE THEME 3 */

body.theme-three .button__total {
    background-color: hsl(176, 100%, 44%);
    box-shadow: inset 0px -9px 0px -5px hsl(177, 92%, 70%);
    color: #000;
}

body.theme-three .button__reset__del {
    background-color: hsl(281, 89%, 26%);
    box-shadow: inset 0px -9px 0px -5px hsl(285, 91%, 52%);
    color: #fff;
}

/** FOOTER **/

.attribution {
    padding: 2rem .5rem;
    text-align: center;
}

body.theme-three .attribution{
    color: #fff;
}





